<IfModule mod_rewrite.c>
  RewriteEngine On

  # Permite servir ficheros reales (CSS, JS, imágenes…)
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Todo lo demás se redirige a index.html
  RewriteRule ^ index.html [L]
</IfModule>