         
<section x-data="dashboardAdminForm()" class="login">  

                <!-- VISTA DE ADMINISTRADOR --> 
                <div id="admin-view">
                     <div class="grid-card-panels">
                        <div class="card-panel blue">
                            <h3 class="card-panel-title">Ventas</h3>
                            <p id="active-employees-stat" class="card-panel-value">9</p>
                        </div>
                        <div class="card-panel red-outline">
                            <h3 class="card-panel-title">Gastos</h3>
                            <p id="pending-orders-stat" class="card-panel-value">13</p>
                        </div>
                        <div class="card-panel green">
                            <h3 class="card-panel-title">Beneficio Bruto</h3>
                            <p id="drivers-on-route-stat" class="card-panel-value">3</p>
                        </div>

                    </div>
                </div>
</section>