         
<section x-data="dashboardAdminForm()" class="login">  

                <!-- VISTA DE ADMINISTRADOR -->
                <div id="admin-view">
                     <div class="grid-card-panels">
                        <div class="card-panel blue">
                            <h3 class="card-panel-title">Ventas</h3>
                            <p id="active-employees-stat" class="card-panel-value">9</p>
                        </div>
                        <div class="card-panel red">
                            <h3 class="card-panel-title">Gastos</h3>
                            <p id="pending-orders-stat" class="card-panel-value">12</p>
                        </div>
                        <div class="card-panel green">
                            <h3 class="card-panel-title">Beneficio Bruto</h3>
                            <p id="drivers-on-route-stat" class="card-panel-value">3</p>
                        </div>

                    </div>
                    
                    <!-- Pestañas de Navegación del Admin -->
                    <div class="div-con-separador">
                        <nav class="admin-tabs" aria-label="Tabs">
                            
                            <a href="/tpv" data-navigo class="admin-tab">Panel</a>
                            <a href="/tpv" data-navigo class="admin-tab">Repartos</a>
                            <a href="/tpv" data-navigo class="admin-tab">Gestión Pedidos</a>
                            <a href="/tpv" data-navigo class="admin-tab">Comandero</a>
            
                        </nav>
                    </div>

                    <div id="admin-content" class="bg-white p-6 rounded-lg shadow-md">


                    </div>
                </div>
</section>