<section x-data="tpvForm()" class="login">     

                <!-- VISTA DE ADMINISTRADOR -->
                <div id="admin-view">
                                    
                    <div class="grid-card-panels">
                        <div class="card-panel blue">
                            <div class="card-panel-title">Empleados Activos</div>
                            <p id="active-employees-stat" class="card-panel-value">9</p>
                        </div>
                        <div class="card-panel green">
                            <div class="card-panel-title">Pedidos Pendientes</div>
                            <p id="pending-orders-stat" class="card-panel-value">12</p>
                        </div>
                        <div class="card-panel purple">
                            <div class="card-panel-title">Repartidores en Ruta</div>
                            <p id="drivers-on-route-stat" class="card-panel-value">3</p>
                        </div>
                    </div>
                    
                    <!-- Pestañas de Navegación del Admin -->
                    <div class="div-con-separador">
                        <nav class="admin-tabs" aria-label="Tabs">
                            <a href="/tpv" data-navigo class="admin-tab">Panel</a>
                            <a href="/tpvRepartos" data-navigo class="admin-tab">Repartos</a>
                            <a href="/tpvPedidos" data-navigo class="admin-tab">Pedidos</a>
                            <a href="/tpvOrdenPedidos" data-navigo class="admin-tab">Orden de Pedido</a>
                            <a href="/tpvCobrar" data-navigo class="admin-tab">Cobrar</a>
                        </nav>
                    </div>

                    <div id="tpv-content" class="bg-white p-6 rounded-lg shadow-md">
                       <div id="tpv-content-app">Cargando...</div> <!-- Aquí se insertará las distintas vistas del sub-panel de navegacion -->
                    </div>
                
                </div>

</section>