<section x-data="tpvForm()" class="login">     

                <!-- VISTA DE ADMINISTRADOR -->
                <div id="admin-view">
                
                    Nuevo
                    <div class="grid-card-panels">
                        <div class="card-panel blue">
                            <h3 class="card-panel-title">Empleados Activos</h3>
                            <p id="active-employees-stat" class="card-panel-value">0</p>
                        </div>
                        <div class="card-panel green">
                            <h3 class="card-panel-title">Pedidos Pendientes</h3>
                            <p id="pending-orders-stat" class="card-panel-value">0</p>
                        </div>
                        <div class="card-panel purple">
                            <h3 class="card-panel-title">Repartidores en Ruta</h3>
                            <p id="drivers-on-route-stat" class="card-panel-value">0</p>
                        </div>
                    </div>
                    
                    <!-- Pestañas de Navegación del Admin -->
                    <div class="mb-4 border-b border-gray-200">
                        <nav id="admin-tabs" class="flex space-x-4" aria-label="Tabs">
                        
                            <a href="/tpv" class="admin-tab text-gray-500 hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-t-md">Panel</a>
                            <a href="/tpvRepartos" class="admin-tab text-gray-500 hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-t-md">Repartos</a>
                            <a href="/tpvPedidos" class="admin-tab text-gray-500 hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-t-md">Pedidos</a>
                            <a href="/tpvComandero" class="admin-tab text-gray-500 hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-t-md">Comandero</a>

                        </nav>
                    </div>

                    <div id="admin-content" class="bg-white p-6 rounded-lg shadow-md">
                       
                    </div>
                </div>

</section>